/PIC32LEDStrip2/Strip2/firmware/Strip2.X/build/Max32/debug/
/PIC32LEDStrip2/Strip2/firmware/Strip2.X/build/Max32/production/
/PIC32LEDStrip2/Strip2/firmware/Strip2.X/dist/Max32/debug/
/PIC32LEDStrip2/Strip2/firmware/Strip2.X/dist/Max32/production/